useDynLib(PCIT, .registration = TRUE)
export(
	clusteringCoefficient,
	clusteringCoefficientPercent,
	defineTasks,
	getEdgeList,
	idx,
	idxInvert,
	localClusteringCoefficient,
	maxMatrixSize,
	pcit,
	pcitMemoryRequirement,
	plotCorCoeff
)